<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartGarden</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include ('partials/elements/navbar.ejs') %>

  <section class="home">

    <div class="jumbo">
            <h1 class="jumbo-text">404</h1>
    </div>

  </section>

    <div class="post-splash">
        
       

    </div>

    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    


    <script src="js/navBarScript.js"></script>



</body>
</html>